<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicApp</title>
</head>
<body>
    <form action="" method="POST">
        {% csrf_token %}

        <label for="name">Username:</label>
        <input type="text" name="username" id="username"><br>

        <label for="password">Password:</label>
        <input type="password", name="password", id="password"><br>

        <button type="submit">Enter</button>
    </form>

    {% if messages %}
        {% for msg in messages %}
            {{ msg }}
        {% endfor %}
    {% endif %}
</body>
</html>