{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

    <div class="link-container">
        <a href="{% url 'main-page' %}" class="action-link">&laquo; Back</a>
        <a href="{% url 'create-playlist' %}" class="action-link">Create Playlist &raquo;</a>
    </div>

    {% if user_playlists %}
        <h1 class="section-title">My Playlists:</h1>
        <div class="playlists-container">
            {% for playlist in user_playlists %}
            <div class="playlist-card">
                <p class="playlist-name">{{playlist.name}}</p>
                <div class="playlist-links">
                    <a href="{% url 'edit-playlist' album_id=playlist.id %}" class="card-link">Edit</a>
                    <a href="{% url 'delete-playlist' playlist_id=playlist.id %}" class="card-link">Delete</a>
                </div>
                <a href="{% url 'song-page' album_id=playlist.id %}" class="playlist-button">View Songs</a>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="empty-message">No Playlists</p>
    {% endif %}

    {% if followed_playlists %}
        <h1 class="section-title">Followed Playlists:</h1>
        <div class="playlists-container">
            {% for f_playlist in followed_playlists %}
                <div class="playlist-card">
                    <p class="playlist-name">{{ f_playlist.playlist.name }}</p>
                    <a href="{% url 'followed-songs' playlist_id=f_playlist.id %}" class="playlist-button"> View Songs</a> <br>
                    <a href="{% url 'unfollow' playlist_id=f_playlist.id %}" class="playlist-button unfollow-button">Unfollow</a>
                </div>
            {% endfor %}
        </div>
    {% else %}

        <p class="empty-message">You Follow No Playlists</p>

    {% endif %}
</body>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/album_creation/playlist-page.css' %}">
{% endblock %}