{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicApp</title>
    <link rel="stylesheet" href="{% static 'login-register-styles/login-register.css' %}">
</head>
<body>
    <main>
        <h1 id="title">Loop Play</h1>

        <div id="link_div">
            <a href="{% url 'login' %}" class="link login">Log In</a>

            <a href="{% url 'register' %}" class="link register">Sign In</a>
        </div>
    </main>

    {% if messages %}
        {% for msg in messages %}
            {{ msg }}
        {% endfor %}
    {% endif %}

</body>
</html>