body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}


.navigation {
    background-color: #333; 
    color: white;
    width: 80%; 
    margin: 20px auto; 
    display: flex;
    justify-content: center;
    gap: 5em;
    padding: 10px 0;
    border-radius: 8px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.nav-link {
    color: white;
    font-size: 1.2rem; 
    font-weight: bold; 
    text-decoration: none;
    padding: 10px 20px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease; 
    letter-spacing: 0.5px; 
    font-family: 'Arial', sans-serif; 
}

.nav-link:hover {
    background-color: #555; 
    color: #fff; 
    transform: scale(1.05); 
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); 
}


.friends-list-container {
    margin: 50px auto 20px auto; 
    max-width: 600px; 
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}


.friend-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.friend-name {
    font-weight: bold;
    font-size: 1rem;
    color: #444;
}

.friend-action {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.friend-action:hover {
    background-color: #007bff;
    color: #fff;
}

.friend-status {
    font-size: 0.9rem;
    color: #777;
}


.no-friends-message {
    text-align: center;
    font-size: 1.2rem;
    color: #555;
    margin-top: 20px;
}