<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get">
        {% csrf_token %}

        <input type="text" name="searched_names" id="searched_names" value="{{ searched_user }}" placeholder="Search for users...">
        <input type="submit" value="Search">
    </form>

    {% if users %}
        {% for searched_user in users %}
            {{ searched_user }} <a href="{% url 'send-request' user_id=user.id receiver_id=searched_user.id %}">Send Request</a> <br>
        {% endfor %}
    {% endif %}

</body>
</html>