<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MusicApp</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    {% if friends_list %}
        {% for friend in friends_list %}
            {% if friend.id == user.id %}
                {{ friend }} - <a href="{% url 'main-page' user_id=user.id %}">See Profile</a> <br>
            {% elif friend.id in pending_requests_senders_ids %}
                {{ friend }} - Pending <br>
            {% elif friend.id in pending_requests_receivers_ids %}
                {{ friend }} - Pending <br>
            {% elif friend in logged_in_list %}
                {{ friend }} - <a href="{% url 'see-profile' user_id=user.id friend_id=friend.id %}">See Profile</a> <br>
            {% else %}
                {{ friend }} - <a href="#">Add Friend</a> <br>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>This user has no friends</p>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>