<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="get">
        {% csrf_token %}

        <input type="text" name="searched_names" id="searched_names" value="{{ searched_user }}" placeholder="Search for users...">
        <input type="submit" value="Search">
    </form>

    {% if users %}
        {% for searched_users in users %}
            {{ searched_users }} <a href="{% url 'send-request' user_id=user.id receiver_id=searched_users.id %}">Send Request</a> <br>
        {% endfor %}
    {% endif %}

    <br>
    <br>
    <br>

    <div class="friends">
        Perkele
    </div>

    <div class="pending-requests">
        {% if sent_friend_requests %}
            {% for reqs in sent_friend_requests %}
                {{ reqs.receiver.username }} - Pending
            {% endfor %}
        {% else %}
            <p>Kur1</p>
        {% endif %}
    </div>

    <div class="awaiting_acceptance">
        {% if received_friend_requests %}
            {% for recs in received_friend_requests %}
                {{ recs.sender.username }} - Accept
            {% endfor %}
        {% else %}
            <p>Kur2</p>
        {% endif %}
    </div>

</body>
</html>