{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="wrapper">
        <header>
            <h1>Welcome!</h1>
            {% if user.is_authenticated %}
                <p>Hello, <a href="{% url 'account-details' %}">{{ user.username }}</a>!</p>
            {% else %}
                <p>Hello, <a href="{% url 'login' %}">Guest</a>!</p>
            {% endif %}
        </header>

        <nav class="links">
            {% if user.is_authenticated %}
                <a href="#" id="logout-button">Log Out</a>
            {% endif %}
            <a href="{% url 'playlist-page' %}">Playlists</a>
            <a href="{% url 'friends-list' %}">Friends List</a>
            <a href="{% url 'forum' %}">Forum</a>
            <a href="{% url 'contacts-page' %}">Contacts</a>
        </nav>

        <form action="{% url 'logout' %}" method="POST" id="logout-form">
            {% csrf_token %}
        </form>
    </div>

    <script src="{% static 'js-files/accounts/logout.js' %}"></script>
</body>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index/main-page.css' %}">
{% endblock %}