{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="navigation">
        <a href="{% url 'main-page' %}" class="nav-link">Home</a>
        <a href="{% url 'account-details' %}" class="nav-link">Profile</a>
        <a href="{% url 'profile-posts' %}" class="nav-link">Posts</a>
        <a href="{% url 'profile-comments' %}" class="nav-link">Comments</a> <br> <br>
    </div>

    <h1>Comments:</h1>
    {% for comment in comments %}
    <span value="post-likes" id="{{ comment.post.id }}"></span>
    <div class="comment">
        <div class="original-post">
            <a href="{% url 'show-post' post_id=comment.post.id %}?ref=user_comments">Original Post: {{ comment.post.title }}</a>
        </div>
        <div class="by-user">
            <p>By: {{ comment.user }}</p>
            <p>Posted: {{ comment.created_at }}</p>
        </div>
        <div class="comment-content">
            <p>{{ comment.content }}</p>
        </div>
        <div class="action-div">
            {% if comment in liked_comments %}
                <span class="like-comment">Unlike</span>
            {% else %}
                <span class="like-comment">Like</span>
            {% endif %}
            <span>Likes: <span value="comment_likes" id="{{ comment.id }}">{{ comment.get_like_count }}</span> </span>
            
            <div class="action-links">
                {% if comment.user == request.user %}
                    <a href="{% url 'delete-comment' post_id=comment.post.id comment_id=comment.id %}?ref=user_comments">Delete</a>
                    <a href="{% url 'edit-comment' post_id=comment.post.id comment_id=comment.id%}?ref=user_comments">Edit</a>
                {% endif %}
            </div>
        </div>
    </div>
    <br>
    {% empty %}
        <p>No comments</p>
    {% endfor %}

    <script src="{% static 'js-files/forum/toggle-comment-like.js' %}"></script>

</body>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts/profile-comments.css' %}">
{% endblock %}