{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="navigation">
        <a href="{% url 'main-page' %}" class="nav-link">Home</a>
        <a href="{% url 'account-details' %}" class="nav-link">Profile</a>
        <a href="{% url 'profile-posts' %}" class="nav-link">Posts</a>
        <a href="{% url 'profile-comments' %}" class="nav-link">Comments</a> <br> <br>
    </div>

    <main class="profile-container">

        <div class="profile-picture">
            {% if app_user.profile.profile_picture %}
                <img src="{{ app_user.profile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <img src="{% static 'images/default-profile-image.jpg' %}" alt="Profile Picture">
            {% endif %}
        </div>

        <div class="profile-details">
            <h2>{{ app_user.username }}'s Profile</h2>

            <div class="user-info">
                <div class="info-label">First Name:</div>
                <div class="info-value">{{ app_user.profile.first_name|default:"Not Set" }}</div>
            </div>

            <div class="user-info">
                <div class="info-label">Last Name:</div>
                <div class="info-value">{{ app_user.profile.last_name|default:"Not Set" }}</div>
            </div>

            <div class="user-info">
                <div class="info-label">Birthday:</div>
                <div class="info-value">{{ app_user.profile.birthday|default:"Not Set" }}</div>
            </div>

            <div class="profile-stats">
                <p><strong>Playlists</strong>: {{ app_user.profile.get_playlist_count }}</p>
                <p><strong>Songs</strong>: {{ app_user.profile.get_songs_count }}</p>
                <p><strong>Posts</strong>: {{ app_user.profile.get_posts_count }}</p>
                <p><strong>Comments</strong>: {{ app_user.profile.get_comments_count }}</p>
            </div>

            <div class="profile-links">
                <a href="{% url 'edit-account' %}">Edit Profile</a>
                <a href="{% url 'change-password' %}">Change Password</a>
                <a href="{% url 'delete-account' %}">Delete Account</a>
                <a href="#" id="logout-button">Logout</a>
            </div>
        </div>
    </main>

    <form action="{% url 'logout' %}" method="POST" id="logout-form" display="none">
        {% csrf_token %}
    </form>

    <script src="{% static 'js-files/accounts/logout.js' %}"></script>
</body>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/accounts/profile-details.css' %}">
{% endblock %}