{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

    <a href="{% url 'create-post' %}">Add Post</a>
    <br>
    <form method="GET">
        {{ search_form }}
        {{ form }}
        <button>Search</button>
    </form>
    <br>
    {% for post in posts %}
        <div class="post">
            <a href="{% url 'show-post' post_id=post.id %}?ref=all_posts" style="text-decoration: none; color: black;">
                <div class="post-link">
                        By: {{ post.user }} | Posted: {{ post.created_at }} <br>
                        {{post.title}} <br>
                        {{post.content}} <br>
                        Upvotes : <span id="{{ post.id }}" value="post-likes">{{ post.get_like_count }}</span> <span> |</span> Comments : {{post.get_comment_count}} |
                </div>
            </a>
            {% if post in likes %}
            <span class="like-button">Unlike</span>
            {% else %}
            <span class="like-button">Like</span>
            {% endif %}
        </div>
        <br><br>
    {% empty %}
        <p>No posts</p>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if posts.has_previous %}
                <a href="?searched_post={{ searched_post }}&filter_by={{ filter_by }}&page=1">&laquo; first</a>
                <a href="?searched_post={{ searched_post }}&filter_by={{ filter_by }}&page={{ posts.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
    
            {% if posts.has_next %}
                <a href="?searched_post={{ searched_post }}&filter_by={{ filter_by }}&page={{ posts.next_page_number }}">next</a>
                <a href="?searched_post={{ searched_post }}&filter_by={{ filter_by }}&page={{ posts.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <script src="{% static 'js-files/forum/toggle-post-like.js' %}"></script>
</body>
{% endblock %}