{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

    <div class="link-container">
        <a href="{% url 'main-page' %}" class="action-link">&laquo; Back</a>
        <a href="{% url 'create-post' %}" class="action-link">Add Post &raquo;</a>
    </div>
    <br>
    <form method="GET" class="mb-3">
        {{ search_form }}
        <div class="filter-container">
            {{ form }}
        </div>
        <button>Search</button>
    </form>
    <br>
    <div class="all_posts">
        {% for post in posts %}
            <div class="post">
                <a href="{% url 'show-post' post_id=post.id %}?searched_post={{ searched_post }}&filter_by={{ filter_by }}&page={{ page_num }}&ref=all_posts" style="text-decoration: none; color: black;">
                    <div class="post-link">
                        By: {{ post.user }} | Posted: {{ post.created_at }} <br>
                    </div>
                    <div class="post-content">
                        <p class="title">{{post.title}}</p>
                        <p class="content">{{post.content}}</p>
                    </div>
                </a>
                <div class="post-footer">
                    {% if post in likes %}
                        <span class="like-button" type="button">Unlike</span>
                    {% else %}
                        <span class="like-button" type="button">Like</span>
                    {% endif %}
                    <div class="post-footer-other">
                        <span>Likes: <span id="{{ post.id }}" value="post-likes">{{ post.get_like_count }}</span> </span>
                        <span>Comments : {{post.get_comment_count}}</span>
                    </div>
                </div>
            </div>
            <br><br>
        {% empty %}
            <p>No posts</p>
        {% endfor %}
    </div>

    {% if posts.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?searched_post={{ searched_post }}&filter_by={{ filter_by }}&page=1">&laquo; first</a>
                    <a href="?searched_post={{ searched_post }}&filter_by={{ filter_by }}&page={{ posts.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                </span>
        
                {% if posts.has_next %}
                    <a href="?searched_post={{ searched_post }}&filter_by={{ filter_by }}&page={{ posts.next_page_number }}">next</a>
                    <a href="?searched_post={{ searched_post }}&filter_by={{ filter_by }}&page={{ posts.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

    <script src="{% static 'js-files/forum/toggle-post-like.js' %}"></script>
</body>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/forum/forums-page.css' %}">
{% endblock %}