{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="post">
        By: {{ post.user }} | Created: {{ post.created_at }} <br>
        {{ post.title }} <br>
        {{ post.content }} <br>
        Likes : <span value="post-likes" id="{{ post.id }}">{{ post.upvotes }}</span> | 
        <a href="{% url 'create-comment' post_id=post.id %}">Comments : {{ post.number_of_comments }}</a> 
        | 
        {% if likes %}
        <span class="like-button">Unlike</span>
        {% else %}
        <span class="like-button">Like</span>
        {% endif %}
        {% if post.user == request.user %}
            <a href="{% url 'delete-post' post_id=post.id %}">Delete</a>
        {% endif %}
    </div> <br> <br>

    <div>
        {% for comment in comments %}
        <div>
            By: {{ comment.user }} <br>
            {{ comment.content }} <br>
            Posted: {{ comment.created_at }}
            {% if comment.user == request.user %}
                <a href="{% url 'delete-comment' post_id=post.id comment_id=comment.id %}">Delete</a>
            {% endif %}
        </div>
        <br>
        {% empty %}
            <p>No comments</p>
        {% endfor %}
    </div>

    <script src="{% static 'js-files/forum/toggle-like.js' %}"></script>
</body>
{% endblock %}