{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>

    <div class="navigation">
        <a href="{% url 'main-page' %}" class="nav-link">Home</a>
        <a href="{% url 'see-profile' friend_slug=friend_user.slug %}" class="nav-link">Profile</a>
        <a href="{% url 'see-friends' friend_slug=friend_user.slug %}" class="nav-link">FriendList</a>
        <a href="{% url 'see-playlists' friend_slug=friend_user.slug %}" class="nav-link">Playlists</a>
        <a href="{% url 'see-posts' friend_slug=friend_user.slug %}" class="nav-link">Posts</a>
    </div>

    <header>
        <h1>{{friend_user.user.username}}'s Posts:</h1>
    </header>

    {% for post in posts %}
        <div class="post">
            <a href="{% url 'show-post' post_id=post.id %}?ref=friend_posts&friend_slug={{ friend_user.slug }}" style="text-decoration: none; color: black;">
                <div class="post-link">
                        By: {{ post.user }} | Posted: {{ post.created_at }} <br>
                        {{post.title}} <br>
                        {{post.content}} <br>
                        Upvotes : <span id="{{ post.id }}" value="post-likes">{{ post.get_like_count }}</span> <span> |</span> Comments : {{post.get_comment_count}} |
                </div>
            </a>
            {% if post in likes %}
            <span class="like-button">Unlike</span>
            {% else %}
            <span class="like-button">Like</span>
            {% endif %}
        </div>
        <br><br>
    {% empty %}
        <p>No posts</p>
    {% endfor %}

    <script src="{% static 'js-files/forum/toggle-post-like.js' %}"></script>
</body>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/friends_list/friend_posts.css' %}">
{% endblock %}
