{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
    <div class="navigation">
        <a href="{% url 'main-page' %}" class="nav-link">Home</a>
        <a href="{% url 'see-profile' friend_slug=friend.slug %}" class="nav-link">Profile</a>
        <a href="{% url 'see-friends' friend_slug=friend.slug %}" class="nav-link">FriendList</a>
        <a href="{% url 'see-playlists' friend_slug=friend.slug %}" class="nav-link">Playlists</a>
        <a href="{% url 'see-posts' friend_slug=friend.slug %}" class="nav-link">Posts</a>
    </div>

    <main class="profile-container">

        <div class="profile-picture">
            {% if friend.profile_picture %}
                <img src="{{ friend.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <img src="{% static 'images/default-profile-image.jpg' %}" alt="Profile Picture">
            {% endif %}
        </div>

        <div class="profile-details">
            <h2>{{ friend.user.username }}'s Profile</h2>

            <div class="user-info">
                <div class="info-label">First Name:</div>
                <div class="info-value">{{ friend.first_name|default:"Not Set" }}</div>
            </div>

            <div class="user-info">
                <div class="info-label">Last Name:</div>
                <div class="info-value">{{ friend.last_name|default:"Not Set" }}</div>
            </div>

            <div class="user-info">
                <div class="info-label">Birthday:</div>
                <div class="info-value">{{ friend.birthday|default:"Not Set" }}</div>
            </div>

            <div class="profile-stats">
                <p><strong>Playlists</strong>: {{ friend.get_playlist_count }}</p>
                <p><strong>Songs</strong>: {{ friend.get_songs_count }}</p>
                <p><strong>Posts</strong>: {{ friend.get_posts_count }}</p>
                <p><strong>Comments</strong>: {{ friend.get_comments_count }}</p>
            </div>
        </div>
    </main>
</body>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/friends_list/friend_profile.css' %}">
{% endblock %}