{% extends 'base.html' %}
{% block content %}
<body>
    <div>
        <a href="{% url 'see-friends' friend_id=friend_id %}">FriendsList</a>
    </div>

    {% if friend_playlists %}
        <div style="display: flex; gap: 2em; margin-top: 1.5em; margin-left: 2em;">
            {% for playlist in friend_playlists %}
            <div style="margin: 0; padding: 0.6em 3em; border: 1px solid black; border-radius: 12px;">
                <p style="margin: 0;">{{playlist.name}}</p>
                <a href="{% url 'see-songs' friend_id=friend_id friend_album_id=playlist.id %}">Songs</a> <br>
                {% if playlist in followed_playlists %}
                    <a href="{% url 'follow-playlist' friend_id=friend_id playlist_id=playlist.id %}">Unfollow</a>
                {% else %}
                    <a href="{% url 'follow-playlist' friend_id=friend_id playlist_id=playlist.id %}">Follow</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p>This user has no playlists</p>
    {% endif %}

</body>
{% endblock %}