body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif; 
    color: #333; 
    margin: 0;
    padding: 0;
}


.all_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}


.post {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); 
    word-wrap: break-word;
    overflow: hidden;
}


.post-link {
    margin-bottom: 10px;
    word-wrap: break-word;
    white-space: normal;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

.post-content {
    margin-top: 10px;
}

.post-content .title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #333; 
    margin-bottom: 10px; 
}

.post-content .content {
    margin-bottom: 0px;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
}


.like-button {
    display: inline-block;
    color: #007bff;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.3s;
}

.like-button:hover {
    background-color: #007bff;
    color: #fff;
}


.pagination {
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.pagination .step-links a {
    text-decoration: none;
    color: #007bff;
    margin: 0 5px;
    font-weight: bold;
}

.pagination .current {
    font-weight: bold;
    margin: 0 10px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 18%;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

form input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


form button {
    width: 40%;
    display: inline;
    padding: 10px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


form input[type="text"], form select {
    font-size: 1rem;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #0056b3;
}

.link-container {
    display: flex;
    gap: 2em;
    justify-content: center;
    padding: 1em 5%;
}

.action-link {
    font-size: 1.4rem;
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    border: 2px solid #007BFF;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease;
}

.action-link:hover {
    background-color: #007BFF;
    color: white;
    transform: scale(1.1);
}